@model WebApplication1.Models.Forum.ForumSectionViewModel
@using System.Security.Claims;          
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="@Model.LogoUrl" class="img-fluid rounded-start" alt="Logo">
        </div>
        <div class="col-md-10 d-flex flex-column">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer">
                Started: @Model.CreatedDtString
                Author: <img src="@Model.AuthorAvatarUrl" style="max-width:50px; max-height:50px; border-radius:50%" alt="Avatar"/>
                <a asp-controller="User" asp-action="Profile" asp-route-id="@Model.AuthorName">@Model.AuthorName</a>
                <a asp-action="Sections" asp-route-id="@Model.UrlIdString">Take a look</a>
            </div>
        </div>
    </div>
</div>
