@model WebApplication1.Models.Forum.ForumTopicViewModel

<div class="col">
    <div class="card">
      <div class="card-header">
          <div class="media d-flex align-items-center">
             <img src="@Model.AuthorAvatarUrl" class="d-block ui-w-40 rounded-circle mx-2" alt="">
             <div class="media-body mx-2">
                 <a asp-controller="User" asp-action="Profile" asp-route-id="@Model.AuthorName" data-abc="true">@Model.AuthorName</a>
                 <div class="text-muted small">@Model.CreatedDtString</div>
             </div>
          </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
      </div>
    </div>
</div>